*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: serif;
    font-style: italic;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container{
    width: 100%;
    height: 100%;
    align-items: center;
    background: url("../assets/game-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.cardHolder{
    width: 60px;
    height: 100px;
border: 2px solid yellow;
background-color: maroon;
box-shadow: 0px -5px 10px 2px black inset;
}

#players{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.4rem;
    flex-direction: column;
    justify-content: space-between;
}

.MyPlayer{
    align-self: flex-end;
    color: white;
}

.Enemies{
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.enemy{
    display: flex;
    flex-direction: column;
}
.enemy-cards-discarded{
    display: flex;
}

.enemy-title{
    border-left: 4px solid rgb(185, 120, 0);
    border-top: 4px solid rgb(234, 152, 0);
    border-bottom: 4px solid rgb(58, 37, 0);
    border-right: 4px solid rgb(102, 66, 0);
    background:linear-gradient(to bottom right, rgba(0, 0, 0, 0.561),rgba(238, 3, 42, 0.753),rgb(255, 2, 44));
    font-size: 1.5rem;
    padding: 0.3rem 0.4rem;
    width: max-content;
}

.hisTurn--Comp{
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, rgb(255, 238, 0),rgb(201, 90, 0));
    border-radius: 50%;
    border: 3px solid rgb(100, 0, 0);
    box-shadow: 0px 3px 6px 3px black;
    transform: scale(0,0);
    animation: toggleTurnComp 0.3s ease 0s forwards;
}

.hisTurn--Comp-Unmount{
    width: 0;
    overflow: hidden;
    height: 0;
    display: none;
}

.MyPlayer--title{
    display: flex;
    width: max-content;
align-self: flex-end;
    align-items: center;
    border-radius: 5px;
}

.MyPlayer--title h3{
    margin: 0.5rem;
    border-left: 4px solid rgb(185, 120, 0);
    border-top: 4px solid rgb(234, 152, 0);
    border-bottom: 4px solid rgb(58, 37, 0);
    border-right: 4px solid rgb(102, 66, 0);
    background:linear-gradient(to bottom right, rgba(0, 0, 0, 0.561),rgba(238, 3, 42, 0.753),rgb(255, 2, 44));
    font-size: 1.5rem;
    padding: 0.3rem 0.4rem;
    width: max-content;
}

.backdrop{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.616));

}

.backdrop h1{
    color: white;
    font-weight: bold;
}

@keyframes toggleTurnComp {
    0%{
        transform: scale(0,0);
    }
    100%{
        transform: scale(1,1);
    }
}