<div class="centered-form__box">
    <h1>Join</h1>
    <form action="/solo/createLobby" method="POST">
        <label for="">Lobby name</label>
        <input type="text" name="lobbyName" placeholder="Lobby name" required>
        <label for="">Lobby Password</label>
        <input type="password" name="lobbyPassword" placeholder="****">
        <label for="">Number of players</label>
        <input type="number" name="number" value="4" required>
        <button id="createLobby">Join in</button>
    </form> 
</div>