<div class="m-4 p-4">
    <h1>Love Letter</h1>
<a href="/createLobby" id="create" class="btn btn-danger mr-4">Play the Love Letter</a>
<a href="/solo/createLobby" class="btn btn-secondary mr-4">Create a solo Lobby</a>
</div>
