<div class="m-4 p-4">
    <h1>Love Letter</h1>
<a href="/auth/signup" class="btn btn-secondary"><i class="fa fa-google"></i> Sign up</a>
<span>or</span>
<a href="/auth/google" class="btn btn-danger"><i class="fa fa-google"></i> Login with Google</a>
<span>or</span>
<a href="/auth/facebook" class="btn btn-outline-primary"><i class="fa fa-google"></i> Login with Facebook</a>

<hr>

<a href="/auth/login" class="btn btn-primary"> Log in</a>

<hr>

<form method="GET" action="/auth/logout">
    <button class="btn btn-warning mt-4">Log out</button>
</form>

<hr>

<a href="/createLobby" class="btn btn-info mr-4">Create a Lobby</a>
<a href="/joinLobby" class="btn btn-info">Join a Lobby</a>
</div>