<h1>Love Letter</h1>
<a href="/auth/signup" class="btn btn-secondary"><i class="fa fa-google"></i> Sign up</a>
<span>or</span>
<a href="/auth/google" class="btn btn-danger"><i class="fa fa-google"></i> Login with Google</a>
<span>or</span>
<a href="/auth/facebook" class="btn btn-outline-primary"><i class="fa fa-google"></i> Login with Facebook</a>
<form method="GET" action="/auth/logout">
    <button class="btn btn-warning mt-4">Log out</button>
</form>
<p>{session}</p>