<div class="centered-form__box">
    <h1>Join</h1>
    <form action="/joinLobby" method="POST">
        <label for="">Lobby name</label>
        <input type="text" name="lobbyName" placeholder="Lobby name" required>
        <label for="">Lobby Password</label>
        <input type="password" name="lobbyPassword" placeholder="****">
        <button>Join in</button>
    </form> 
</div>