<div id="players"></div>

<button id="start" class="btn btn-success">Start the game</button>
<p id="lobbyName">{{lobbyName}}</p>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>